In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.metrics import confusion_matrix 
from sklearn.model_selection import train_test_split

In [2]:
df= pd.read_excel('C:\\Users\\admin\\OneDrive\\Desktop\\2ND SEM FILES\\ML\\Data File.xlsx')
df

                     Toss winner Toss decision Venue(Home/Away) Result
0    Royal Challengers Bangalore         field             Away   Lose
1        Rising Pune Supergiants         field             Home    Win
2          Kolkata Knight Riders         field             Away    Win
3                Kings XI Punjab         field             Away    Win
4    Royal Challengers Bangalore           bat             Home    Win
..                           ...           ...              ...    ...
751               Mumbai Indians         field             Home    Win
752          Chennai Super Kings           bat             Home   Lose
753               Delhi Capitals         field             Away    Win
754          Chennai Super Kings         field             Away    Win
755               Mumbai Indians           bat             Away    Win

[756 rows x 4 columns]

In [3]:
#Label encoding and One hot encoding
encoded_df = pd.get_dummies(df['Toss winner'], prefix='Toss winner')
df_encoded = pd.concat([encoded_df, df], axis=1)
df_encoded = df_encoded.drop(columns=['Toss winner'])

from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df_encoded = df_encoded.apply(label_encoder.fit_transform)

pd.DataFrame(df_encoded)

,Toss winner_Chennai Super Kings,Toss winner_Deccan Chargers,Toss winner_Delhi Capitals,Toss winner_Delhi Daredevils,Toss winner_Gujarat Lions,Toss winner_Kings XI Punjab,Toss winner_Kochi Tuskers Kerala,Toss winner_Kolkata Knight Riders,Toss winner_Mumbai Indians,Toss winner_Pune Warriors,Toss winner_Rajasthan Royals,Toss winner_Rising Pune Supergiants,Toss winner_Royal Challengers Bangalore,Toss winner_Sunrisers Hyderabad,Toss decision,Venue(Home/Away),Result
0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1,1
2,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,1
3,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1
4,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,1,1
752,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
753,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1
754,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1
755,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1

In [4]:
x = df_encoded.iloc[:, :-1]
y = df_encoded.iloc[:, -1].values

In [5]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size= 0.2)
x_test

,Toss winner_Chennai Super Kings,Toss winner_Deccan Chargers,Toss winner_Delhi Capitals,Toss winner_Delhi Daredevils,Toss winner_Gujarat Lions,Toss winner_Kings XI Punjab,Toss winner_Kochi Tuskers Kerala,Toss winner_Kolkata Knight Riders,Toss winner_Mumbai Indians,Toss winner_Pune Warriors,Toss winner_Rajasthan Royals,Toss winner_Rising Pune Supergiants,Toss winner_Royal Challengers Bangalore,Toss winner_Sunrisers Hyderabad,Toss decision,Venue(Home/Away)
154,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
164,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
426,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
254,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1
291,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
34,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1
421,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
186,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
675,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1

In [6]:
from sklearn.naive_bayes import BernoulliNB
model = BernoulliNB()
model.fit(x_train,y_train)
 

y_pred= model.predict(x_test)
y_pred

#The predicted values by the model for the entire data
Y_pred=model.predict(x)

#The predicted data for the entire model
df_ypred = pd.DataFrame(Y_pred,columns = ['Prediction'])
result = pd.DataFrame(pd.concat ([df.iloc[:, :-1], df_encoded['Result'], df_ypred],axis = 1 ))
result

#The accuracy score
from sklearn.metrics import accuracy_score
print (accuracy_score (y_test,y_pred))

0.5460526315789473

In [7]:
from joblib import dump
dump(model, './../SavedModels/model.joblib')

['./../SavedModels/model.joblib']